<div class="country">
    <img src="{{flags.svg}}" alt="`Flag of {{name.official}}`">
    <h1>{{name.official}}</h1>
</div>
<div>
    <p>Capital: {{capital}}</p>
    <p>Population: {{population}}</p>
    <p>Languages: {{languages}}</p>
</div>
